<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small"><%= message.parent.bot.name %></span><br />
    <%= image_tag message.parent.bot.image_url || 'operator', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9">
    <div class="col-sm-12 balloon-1-left balloon">
      <% if messages.last == message # && !training_message.id == Answer::START_MESSAGE_ID%>
        <span id="last-message" />
        <% if message.answer.present? %>
          <%= bootstrap_form_for [bot, message.training, message.answer] do |f| %>
            <%= f.text_area :body, hide_label: true %>
            <%= hidden_field_tag :auto, params[:auto] || 0, class: 'auto-mode' %>
            <%= f.submit '更新する', class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <%= text_area_tag :body, message.body, class: 'form-control', readonly: true %>
        <% end %>
        <br />
        <%= bootstrap_form_for Answer.new, url: replace_bot_training_answer_path(bot, message.training, message) do |f| %>
          <div class="form-group">
            <%= f.autocomplete_field :body, autocomplete_answer_body_bot_trainings_path, class: 'form-control' %>
          </div>
          <%= hidden_field_tag :auto, params[:auto] || 0, class: 'auto-mode' %>
          <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
        <% end %>
      <% else %>
        <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
      <% end %>
    </div>
    <div class="col-sm-12">
      <p>
        ここに選択肢が入る
      </p>
      <%= link_to new_bot_training_answer_decision_branch_path(@bot, @training, message.answer), remote: true do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 選択肢を追加する<% end %>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
