<%# TODO 見通しが悪くなってきたのでリファクタリングしたい %>
<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small"><%= message.parent.bot.name %></span><br />
    <%= image_tag message.parent.bot.image_url || 'operator', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9">
    <div class="col-sm-12 balloon-1-left balloon">
      <% if messages.last == message # && !training_message.id == Answer::START_MESSAGE_ID%>
        <span id="last-message" />
        <%= bootstrap_form_for [bot, message.training, message.answer || Answer.new], remote: true do |f| %>
          <%= f.text_area :body, hide_label: true %>
          <%= hidden_field_tag :auto, params[:auto] || 0, class: 'auto-mode' %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
        <br />
        <% if message.persisted? %>
          <%= bootstrap_form_for Answer.new, url: replace_bot_training_answer_path(bot, message.training, message), remote: true do |f| %>
            <div class="form-group">
              <%= f.autocomplete_field :body, autocomplete_answer_body_bot_trainings_path, class: 'form-control' %>
            </div>
            <%= hidden_field_tag :auto, params[:auto] || 0, class: 'auto-mode' %>
            <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      <% else %>
        <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
      <% end %>
    </div>
    <% if message.answer_id.present? && messages.last == message %>
      <div class="col-sm-12">
        <br />
        <ul class="list-group">
          <% message.answer.decision_branches.each do |decision_branch| %>
            <%= render 'trainings/decision_branch_fields', bot: message.parent.bot, training: message.training, answer: message.answer, decision_branch: decision_branch %>
          <% end %>
        </ul>
        <div class="links">
          <%#= link_to_add_association f, :decision_branches, partial: 'trainings/decision_branch_fields', class: 'add-fields-link' do %><!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 選択肢を追加する --><%# end %>
          <%= link_to new_bot_training_answer_decision_branch_path(message.parent.bot, message.training, message.answer), remote: true, class: 'add-fields-link' do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 選択肢を追加する<% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
