<%# TODO 見通しが悪くなってきたのでリファクタリングしたい %>
<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small"><%= message.parent.bot.name %></span><br />
    <%= image_tag message.parent.bot.image_url || 'operator', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9">
    <div class="col-sm-12 balloon-1-left balloon">
      <% if message.persisted? %>
        <%= link_to bot_training_training_message_path(bot, message.training, message), method: :delete, class: "btn-message-remove btn btn-default btn-xs", data: { confirm: '以降のメッセージや、配下のメッセージも削除されますが、よろしいですか。' } do %><i class="glyphicon glyphicon-remove"></i><% end %>
      <% end %>
      <% if messages.last == message # && !training_message.id == Answer::START_MESSAGE_ID%>
        <span id="last-message" />
      <% end %>
      <%= bootstrap_form_for [bot, message.training, message] do |f| %>
        <div class="message-body-wrapper">
          <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
          <a href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a>
        </div>

        <div class="message-body-edit hidden">
          <div class="form-group">
            <%= f.autocomplete_text_area :body, autocomplete_answer_body_bot_trainings_path, placeholder: "回答を入力", class: 'form-control', rows: 4 %>
            <%#= f.text_area :body, placeholder: "回答を入力(必須)", class: 'form-control', rows: 4, hide_label: true %>
          </div>
          <%= f.fields_for :answer, message.try(:answer) || message.build_answer do |fa| %>
            <%= fa.hidden_field :id %>
            <%= fa.text_field :headline, placeholder: '見出し(任意)', hide_label: true %>
          <% end %>
          <%= hidden_field_tag :parent_decision_branch_id, message.try(:answer).try(:parent_decision_branch).try(:id) %>
          <%= hidden_field_tag :auto, params[:auto] || 0, class: 'auto-mode' %>

          <%= f.submit '回答を差し替える', name: 'btn_replace', class: 'btn btn-success' %>
          <% if message.try(:answer).try(:persisted?) %>
            <%= f.submit '回答を更新する', name: 'btn_update', class: 'btn btn-primary' %>
          <% end %>
          <%= f.submit '回答失敗にする', name: 'btn_update_answer_failed', class: 'btn btn-danger' %>
        </div>

        <% if message.try(:answer).try(:persisted?) %>
          <div class="pull-right">
            <%= link_to edit_bot_answer_path(message.parent.bot, message.answer) do %>
              <i class="glyphicon glyphicon-list-alt"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if message.other_answers.present? %>
        <div class="small">
          <p>その他の回答</p>
          <ul>
            <% message.other_answers.each do |other_answer| %>
              <% if other_answer.headline.present? %>
              <li>
                <%= link_to other_answer.headline, bot_training_questions_path(bot, message.training, training_message: { body: other_answer.headline, other_answer_id: other_answer.id }), method: :post %>
              </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12">
      <br />
      <ul class="list-group">
        <% message.answer.try(:decision_branches).try(:each) do |decision_branch| %>
          <%= render 'trainings/decision_branch_fields', bot: message.parent.bot, training: message.training, answer: message.answer, decision_branch: decision_branch %>
        <% end %>
      </ul>
      <% if message.try(:answer).try(:persisted?) %>
        <div class="links">
          <%= link_to new_bot_training_answer_decision_branch_path(message.parent.bot, message.training, message.answer), remote: true, class: 'add-fields-link' do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 選択肢を追加する<% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
