<%= link_to 'Autoモード', '#', class: "btn btn-default #{params[:auto] == '1' ? 'active' : ''}", 'data-toggle' => 'button', id: 'btn-auto-mode' %>

<div class="col-sm-8 col-sm-offset-2 chat-area">
  <% @training.training_messages.each do |training_message| %>
    <% if training_message.bot? %>
      <%= render 'trainings/bot', bot: @bot, messages: @training.training_messages, message: training_message %>
    <% elsif training_message.guest? %>
      <%= render 'trainings/guest', message: training_message %>
    <% end %>
    <br />
  <% end %>
</div>

<%= bootstrap_form_for [@bot, @training, @training.training_messages.build] do |f| %>
  <div class="col-sm-10 col-sm-offset-2 col-xs-12 text-center comment-area">
    <%= f.text_field :body, placeholder: '質問を入れてください', hide_label: true %>
    <%= f.submit '質問する', class: 'btn btn-default' %>
    <%#= link_to 'このスレッドを完了する', new_trainings_path, class: 'btn btn-primary' %>
  </div>
<% end %>
