<%= bootstrap_form_for(@message) do |f| %>
  <%= render "shared/errors", object: @message %>

  <%= f.text_field :chat_id %>
  <%= f.text_field :speaker %>
  <%= f.text_field :body %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
