<h1>対話履歴<small class="pull-right"><%= link_to '戻る', bot_threads_path(@bot, page: params[:index_page], filter: params[:filter]), class: 'btn btn-default', data: { event_name: 'Back to threads from thread messages', bot_id: @bot.id, bot_name: @bot.name, chat_id: @chat.id } %></small></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2"></th>
      <th>発言者</th>
      <th>本文</th>
      <th>発言日時</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td width="48px">
          <% if message.answer_failed? %>
            <i class="glyphicon glyphicon-warning-sign text-warning"></i>
          <% end %>
          <% if message.good? %>
            <i class="fa fa-thumbs-up text-success"></i>
          <% end %>
          <% if message.bad? %>
            <i class="fa fa-thumbs-down text-danger"></i>
          <% end %>
        </td>
        <td width="24px">
          <% if message.bot? %>
              <% unless message.answer_marked? %>
                  <%= link_to bot_thread_message_answer_marked_path(@bot, @chat, message), method: :post do %>
                      <i class="fa fa-answer-not-marked-flag"></i>
                  <% end %>
              <% end %>
              <% if message.answer_marked? %>
                  <%= link_to bot_thread_message_answer_marked_path(@bot, @chat, message), method: :delete do %>
                      <i class="fa fa-answer-marked-flag"></i>
                  <% end %>
              <% end %>
          <% end %>
        </td>
        <td nowrap="nowrap">
          <%= message.speaker_i18n %>
        </td>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>

<br>
