<h1>対話履歴</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>発言者</th>
      <th>本文</th>
      <th>発言日時</th>
      <th>UA</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td>
          <% if message.answer_failed? %>
            <i class="glyphicon glyphicon-warning-sign text-warning"></i>
          <% end %>
        </td>
        <td nowrap="nowrap">
          <%= image_tag message.speaker_image_url, class: 'img-tiny' %>
          <%= message.speaker_i18n %>
        </td>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
        <td><%= message.user_agent %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>

<br>
