<div class="container">
  <%= form_tag tops_path, method: :post do %>
    <% @answer_ids.each_with_index do |answer_id, index| %>
      <div>
        <%= image_tag 'listen.jpg', class: 'listen' %><%= simple_format Answer.find(answer_id).text %>
        <%= hidden_field_tag 'answer_ids[]', answer_id %>
      </div>

      <% if @texts[index].present? %>
        <div>
          <%= image_tag 'silhouette.png', class: 'listen' %><%= simple_format  @texts[index] %>
          <%= hidden_field_tag 'texts[]', @texts[index] %>
        </div>
      <% end %>
    <% end %>

    <div class="col-sm-12 text-center">
      <%= text_field_tag :text %>
      <%= submit_tag '回答する' %>
    </div>
  <% end %>
</div>
