<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small"><%= message.parent.bot.name %></span><br />
    <%= image_tag message.parent.bot.image_url || 'operator', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9">
    <div class="col-sm-12 balloon-1-left balloon">
      <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
    </div>
    <% if message.answer.try(:decision_branches).try(:present?) %>
      <div class="col-sm-12">
        <br />
        <% message.answer.decision_branches.each do |decision_branch| %>
        <div class="col-sm-12">
          <%= bootstrap_form_for decision_branch, url: bot_chats_choices_path(message.parent.bot, decision_branch), method: :post,remote: true do |f| %>
            <%= submit_tag decision_branch.body, class: 'btn btn-default col-sm-6' %>
            <%= f.hidden_field :id %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
