<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small">どんうさぎ</span><br />
    <%= image_tag 'usao001.png', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9 balloon-1-left balloon">
    <% if messages.last == message # && !training_message.id == Answer::START_MESSAGE_ID%>
      <span id="last-message" />
      <% if message.class == TrainingMessage %>
        <%= bootstrap_form_for [bot, message.training, message.answer] do |f| %>
          <%= f.text_area :body, hide_label: true %>
          <%= f.submit '更新する', class: 'btn btn-primary' %>
        <% end %>
        <br />
        <%= bootstrap_form_for [bot, message.training, message] do |f| %>
          <%= f.collection_select :answer_id, Answer.all, :id, :body %>
          <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
        <% end %>
        <br />
        <%= bootstrap_form_for Answer.new, url: replace_bot_training_answer_path(bot, message.training, message) do |f| %>
          <%= f.text_area :body, hide_label: true %>
          <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
        <% end %>
      <% else %>
      <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
      <% end %>
    <% else %>
      <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
