<div class="row">
  <div class="col-sm-2 text-center">
    どんうさぎ<br />
    <%= image_tag 'usao001.png', class: 'listen' %>
  </div>
  <div class="col-sm-8 balloon-1-left">
    <% if message.class == TrainingMessage && messages.last == message # && !training_message.id == Answer::START_MESSAGE_ID %>
      <span id="last-message" />
      <%= bootstrap_form_for [message.training, message.answer] do |f| %>
        <%= f.text_area :body, hide_label: true %>
        <%= f.submit '更新する', class: 'btn btn-primary' %>
      <% end %>
      <br />
      <%= bootstrap_form_for [message.training, message] do |f| %>
        <%= f.collection_select :answer_id, Answer.all, :id, :body %>
        <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
      <% end %>
      <br />
      <%= bootstrap_form_for Answer.new, url: replace_training_answer_path(message.training, message) do |f| %>
        <%= f.text_area :body, hide_label: true %>
        <%= f.submit 'この回答に差し替える', class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <%= simple_format(message.body) %>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
