<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <% @chat.messages.each do |message| %>
      <% if message.bot? %>
        <%= render 'bot', messages: @chat.messages, message: message  %>
      <% elsif message.guest? %>
        <%= render 'guest', message: message  %>
      <% end %>
      <br />
    <% end %>
  </div>

  <%= bootstrap_form_for @chat.messages.build, url: chats_messages_path do |f| %>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center comment-area">
      <%= f.text_field :body, placeholder: '質問を入れてください', hide_label: true %>
      <%= f.submit '質問する', class: 'btn btn-default' %>
      <%= link_to 'クリアする', chats_path, method: :delete, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
