<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 col-xs-12 text-center context">
      hogehoge
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="col-sm-8 col-sm-offset-2 chat-area">
    <% @chat.messages.each do |message| %>
      <% if message.bot? %>
        <%= render 'bot', messages: @chat.messages, message: message  %>
      <% elsif message.guest? %>
        <%= render 'guest', message: message  %>
      <% end %>
      <br />
    <% end %>
  </div>

  <%= bootstrap_form_for @chat.messages.build, url: chats_messages_path, remote: true do |f| %>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center comment-area">
      <div class="input-group">
        <%= f.text_field :body, placeholder: '質問を入れてください', hide_label: true %>
        <%= f.hidden_field :context %>
        <span class="input-group-btn">
          <%= f.submit '質問する', class: 'btn btn-primary question' %>
          <%= link_to 'クリアする', chats_path, method: :delete, class: 'btn btn-default' %>
        </span>
      </div>
    </div>
  <% end %>
</div>
