<%= bootstrap_nested_form_for(@bot, data: { event_name: "Update bot", bot_id: @bot.id, bot_name: @bot.name }) do |f| %>
  <%= render "shared/errors", object: @bot %>

  <%= f.text_field :name %>
  <%= f.file_field :image %>
  <% if @bot.image %>
    <%= image_tag @bot.image_url(:thumb) %>
    <br />
    <br />
  <% end %>
  <%= f.text_area :classify_failed_message, rows: 3 %>
  <%= f.text_area :start_message, rows: 3 %>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <div class="pull-right">
      <span data-component="BotResetButton"
            data-url="<%= reset_bot_path(@bot) %>"></span>
    </div>
  </div>
<% end %>
