<%= bootstrap_form_for(@bot) do |f| %>
  <%= render "shared/errors", object: @bot %>

  <%= f.text_field :name %>
  <%= f.file_field :image %>
  <% if @bot.image %>
    <%= image_tag @bot.image_url(:thumb) %>
  <% end %>

  <%= f.form_group nil, label: { text: '埋め込みコード' } do %>
    <%= text_field_tag :embed, bot_embed_code(@bot), class: 'form-control', readonly: true %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
