<h1>Bot管理</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= image_tag bot.image_url(:thumb) %></td>
        <td><%= bot.name %></td>
        <td>
          <%= link_to 'チャットする', new_chats_path(bot.token), class: "btn btn-default" %>
          <%= link_to "Botを育てる", new_bot_training_path(bot), class: 'btn btn-primary' %>
          <%= link_to "学習を実行する", bot_learning_path(bot), method: :patch, class: 'btn btn-danger' %>
          <%= link_to "編集する", edit_bot_path(bot), class: 'btn btn-default' %>
          <%= link_to "対話履歴", bot_threads_path(bot), class: 'btn btn-default' %>
          <%#= link_to "データインポート", new_bot_imports_path(bot), class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to '新規登録', new_bot_path, class: "btn btn-default" %>
