<h1>対話履歴</h1>

<div>
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= 'active' if params[:filter].blank? && params[:good].blank? && params[:bad].blank? %>"><%= link_to '全て', bot_threads_path(@bot), data: { event_name: 'Open all threads', bot_id: @bot.id, bot_name: @bot.name } %></li>
    <li role="presentation" class="<%= 'active' if params[:filter].present? %>"><%= link_to '回答失敗のみ', bot_threads_path(@bot, filter: 1), data: { event_name: 'Open failed threads', bot_id: @bot.id, bot_name: @bot.name } %></li>
    <li role="presentation" class="<%= 'active' if params[:good].present? %>"><%= link_to 'Goodがある対話', bot_threads_path(@bot, good: 1), data: { event_name: 'Open good threads', bot_id: @bot.id, bot_name: @bot.name } %></li>
    <li role="presentation" class="<%= 'active' if params[:bad].present? %>"><%= link_to 'Badがある対話', bot_threads_path(@bot, bad: 1), data: { event_name: 'Open bad threads', bot_id: @bot.id, bot_name: @bot.name } %></li>
  </ul>
</div>
<br />

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>対話数</th>
      <th>本文</th>
      <th nowrap="nowrap">最終発言日時</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.id %></td>
        <td>
          <% if chat.has_answer_failed_message? %>
            <i class="glyphicon glyphicon-warning-sign text-warning"></i>
          <% end %>
          <% if chat.has_good_answer? %>
            <i class="fa fa-thumbs-up text-success"></i>
          <% end %>
          <% if chat.has_bad_answer? %>
            <i class="fa fa-thumbs-down text-danger"></i>
          <% end %>
        </td>
        <td>
          <% messages = chat.messages.order('id desc') %>
          <%=
            messages.exchanging_messages_count
          %>
        </td>
        <td>
          <%= '...<br />'.html_safe if messages.count > 3 %>
          <% messages.limit(3).reverse.each do |message| %>
            <%= image_tag message.speaker_image_url, class: 'img-tiny' %>
            <%= message.body %></br />
          <% end %>
        </td>
        <td><%= messages.last.created_at if messages.present? %></td>
        <td>
          <%= link_to t('helpers.link.show'), bot_thread_messages_path(@bot, chat, index_page: params[:page], filter: params[:filter]), class: "btn btn-default", data: { event_name: 'Open thread messages', bot_id: @bot.id, bot_name: @bot.name, chat_id: chat.id } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @chats %>

<br>

<%#= link_to t('helpers.link.new'), new_message_path, class: "btn btn-default" %>
