<%# HACK chatsやtrainingsとビューが重複する。いずれ共通化したい。  %>
<div class="container">
  <div class="col-sm-8 col-sm-offset-2 chat-area">
    <%= render 'bot', bot: @bot, help_answer: @bot.start_answer %>
  </div>

  <%= bootstrap_form_tag url: bot_helpdesks_path(@bot), remote: true do |f| %>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center comment-area">
      <div class="input-group">
        <%= f.text_field :body, placeholder: '質問を入れてください', hide_label: true %>
        <span class="input-group-btn">
          <%= f.submit '質問する', class: 'btn btn-primary question' %>
          <%= link_to 'クリアする', new_bot_helpdesks_path(@bot), class: 'btn btn-default' %>
        </span>
      </div>
    </div>
  <% end %>
</div>
