<!DOCTYPE html>
<html>
<head>
  <title>My-ope - mofmof inc.</title>
  <% assets = Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'lumen', media: 'all' %>
  <%= stylesheet_link_tag "#{resources/params[:controller]}/#{params[:action]}", media: 'all' if assets.find_asset("resources/#{params[:controller]}/#{params[:action]}.css") %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "resources/#{params[:controller]}" if assets.find_asset("resources/#{params[:controller]}.js") %>
  <%= javascript_include_tag "#{resources/params[:controller]}/#{params[:action]}" if assets.find_asset("resources/#{params[:controller]}/#{params[:action]}.js") %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% unless params[:token].present? %>
    <%= render 'layouts/header' %>
  <% end %>

  <% if @bot.present? && !chat_page? %>
    <div id="sidebar-wrapper" class="col-sm-2 col-xs-12">
      <div class="sidebar-nav list-group">
        <%= link_to edit_bot_path(@bot), class: 'bot-profile list-group-item text-center' do %>
          <p><%= @bot.name %></p>
          <% if @bot.image %>
            <%= image_tag @bot.image_url(:thumb) %>
          <% end %>
        <% end %>
        <%= link_to 'チャットする', new_chats_path(@bot.token), class: 'list-group-item', target: '_blank' %>
        <%= link_to "育てる", new_bot_training_path(@bot), class: 'list-group-item' %>
        <%= link_to "学習データをエクスポート", bot_exports_path(@bot), class: 'list-group-item' %>
        <%= link_to "学習データをインポート", new_bot_imports_path(@bot), class: 'list-group-item' %>
        <%= link_to "対話履歴", bot_threads_path(@bot), class: 'list-group-item' %>
      </div>
      <%= link_to "学習を実行する", bot_learning_path(@bot), method: :patch, class: 'btn btn-danger btn-block' %>
    </div>
    <% container_main_class = 'col-sm-10 col-sm-offset-2 ' %>
  <% end %>

  <div class="container container-main col-xs-12 <%= container_main_class %>">
    <%= render "shared/flash" %>
    <%= yield %>
  </div>
</body>
</html>
