<!DOCTYPE html>
<html>
<head>
  <title>どんうさぎbot - mofmof inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "#{resources/params[:controller]}/#{params[:action]}", media: 'all' if assets_manifest.assets["resources/#{params[:controller]}/#{params[:action]}.css"] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "resources/#{params[:controller]}" if assets_manifest.assets["resources/#{params[:controller]}.js"] %>
  <%= javascript_include_tag "#{resources/params[:controller]}/#{params[:action]}" if assets_manifest.assets["resources/#{params[:controller]}/#{params[:action]}.js"] %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% unless session[:embed] == '1' && controller.controller_name == 'chats' %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= render "shared/flash" %>
  <div class="container container-main">
    <%= yield %>
  </div>
</body>
</html>
