<!DOCTYPE html>
<html>
<head>
  <title>My-ope office - 社内問い合わせ専用AIチャットボット</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= stylesheet_link_tag    'lumen', media: 'all' %>
  <%= stylesheet_link_tag    'cerulean', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if Rails.env.production? %>
    <%= render 'layouts/shared/analytics/mixpanel' %>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'layouts/shared/js_vars/current_user' %>
  <% end %>
  <%= render 'layouts/shared/js_vars/images' %>
  <%= render 'layouts/shared/js_vars/current_bot' %>
</head>
<body>
  <% if Rails.env.production? %>
    <%= render 'layouts/shared/analytics/google_analytics' %>
  <% end %>

  <% unless chat_page? %>
    <%= render 'layouts/shared/ui/header' %>
  <% end %>

  <%= render 'layouts/shared/ui/side_nav' %>

  <% if chat_page? %>
    <%= yield %>
  <% else %>
    <div class="container container-main <%= container_main_class %>">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
